<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="/images/logo.svg" height="50px" />
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About</a></li>
        <li><a href="#">Get $BTCP</a></li>
        <li><a href="#">Whitepaper</a></li>
        <li><a href="#">Wallet</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Get Involved</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div id="hero" class="row">
    <div class="col-xs-10 col-xs-push-1 col-sm-6 col-sm-push-3 text-center">
      <img src="/images/icon.svg" height="160px" />
      <h1><span class="color-primary">Bitcoin</span> <span class="color-secondary">Private</span></h1>
      <p class="x-large color-primary">private, decentralized, fast, open source<br />community driven coin</p>
      <h2 class="color-primary font-weight-bold">Coming Soon</h2>
      <a href="" class="btn btn-accent">Get Involved</a>
    </div>
  </div>

  <div id="why-btcp" class="row">
    <div class="container">
      <div class="row heading">
        <div class="col-xs-12">
          <h1 class="text-center"><span class="color-primary">Why</span> <span class="color-secondary">$BTCP?</span></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-4 visual-grouping">
          <i class="fa fa-lock visual" style="font-size: 79px"></i>
          <div class="content">
            <h3>Private</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 visual-grouping">
          <i class="fa fa-arrows visual" style="font-size: 79px"></i>
          <div class="content">
            <h3>Decentralized</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 visual-grouping">
          <i class="fa fa-tachometer visual" style="font-size: 79px"></i>
          <div class="content">
            <h3>Fast</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-4 visual-grouping">
          <i class="fa fa-comments-o visual" style="font-size: 79px"></i>
          <div class="content">
            <h3>Open Source</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 visual-grouping">
          <i class="fa fa-users visual" style="font-size: 79px"></i>
          <div class="content">
            <h3>Community Driven</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 visual-grouping">
          <i class="fa fa-btc visual" style="font-size: 74px"></i>
          <div class="content">
            <h3>Coin</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>

        <div class="col-xs-12 text-center whitepaper">
          <a href="" class="btn btn-primary">Download Whitepaper</a>
        </div>
      </div>
    </div>
  </div>

  <div id="get-btcp" class="row">
    <div class="container">
      <div class="row heading">
        <div class="col-xs-12">
          <h1 class="text-center"><span class="color-primary">How to get</span> <span class="color-secondary">$BTCP?</span></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-5 col-xs-12 primary-grouping visual-grouping">
          <i class="fa fa-arrows visual" style="font-size: 140px"></i>
          <div class="content">
            <h3 class="color-primary">$BTCP Wallet</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
            <a href="" class="btn btn-accent">Download</a>
          </div>
        </div>

        <div class="col-sm-push-1 col-sm-6 col-xs-12">
          <div class="row">
            <div class="col-sm-6 col-xs-12 secondary-grouping visual-grouping">
              <i class="fa fa-arrows visual" style="font-size: 67px"></i>
              <div class="content">
                <h3 class="color-primary">Exchange</h3>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
              </div>
            </div>

            <div class="col-sm-6 col-xs-12 secondary-grouping visual-grouping">
              <i class="fa fa-arrows visual" style="font-size: 67px"></i>
              <div class="content">
                <h3 class="color-primary">Exchange</h3>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
              </div>
            </div>

            <div class="col-sm-6 col-xs-12 secondary-grouping visual-grouping">
              <i class="fa fa-arrows visual" style="font-size: 67px"></i>
              <div class="content">
                <h3 class="color-primary">Exchange</h3>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
              </div>
            </div>

            <div class="col-sm-6 col-xs-12 secondary-grouping visual-grouping">
              <i class="fa fa-arrows visual" style="font-size: 67px"></i>
              <div class="content">
                <h3 class="color-primary">Exchange</h3>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="get-involved" class="row">
    <div class="container">
      <div class="row heading">
        <div class="col-xs-12">
          <h1 class="text-center"><span class="color-primary">Get</span> <span class="color-secondary">Involved</span></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="row">
            <div class="col-sm-6 col-xs-12 secondary-grouping visual-grouping">
              <i class="fa fa-code visual" style="font-size: 72px"></i>
              <div class="content">
                <h3 class="color-primary">Development</h3>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
              </div>
            </div>

            <div class="col-sm-6 col-xs-12 secondary-grouping visual-grouping">
              <i class="fa fa-trophy visual" style="font-size: 72px"></i>
              <div class="content">
                <h3 class="color-primary">Marketing</h3>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
              </div>
            </div>

            <div class="col-sm-6 col-xs-12 secondary-grouping visual-grouping">
              <i class="fa fa-users visual" style="font-size: 72px"></i>
              <div class="content">
                <h3 class="color-primary">Community</h3>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
              </div>
            </div>

            <div class="col-sm-6 col-xs-12 secondary-grouping visual-grouping">
              <i class="fa fa-bullhorn visual" style="font-size: 72px"></i>
              <div class="content">
                <h3 class="color-primary">Social Media</h3>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-push-1 col-sm-5 col-xs-12 primary-grouping visual-grouping">
          <i class="fa fa-info-circle visual" style="font-size: 116px"></i>
          <div class="content">
            <h3 class="color-primary">Mining Info</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
            <a href="" class="btn btn-primary">Call To Action</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="our-team" class="row">
    <div class="container">
      <div class="row heading">
        <div class="col-xs-12">
          <h1 class="text-center"><span class="color-primary">Our</span> <span class="color-secondary">Team</span></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 col-xs-12 primary-grouping visual-grouping">
          <img src="/images/placeholder.png" class="visual" width="116px" />
          <div class="content">
            <h3 class="color-primary">John Doe</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>

        <div class="col-sm-4 col-xs-12 primary-grouping visual-grouping">
          <img src="/images/placeholder.png" class="visual" width="116px" />
          <div class="content">
            <h3 class="color-primary">John Doe</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>

        <div class="col-sm-4 col-xs-12 primary-grouping visual-grouping">
          <img src="/images/placeholder.png" class="visual" width="116px" />
          <div class="content">
            <h3 class="color-primary">John Doe</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>

        <div class="col-sm-3 col-xs-12 secondary-grouping visual-grouping">
          <img src="/images/placeholder.png" class="visual" width="84px" />
          <div class="content">
            <h3 class="color-primary">John Doe</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>

        <div class="col-sm-3 col-xs-12 secondary-grouping visual-grouping">
          <img src="/images/placeholder.png" class="visual" width="84px" />
          <div class="content">
            <h3 class="color-primary">John Doe</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>

        <div class="col-sm-3 col-xs-12 secondary-grouping visual-grouping">
          <img src="/images/placeholder.png" class="visual" width="84px" />
          <div class="content">
            <h3 class="color-primary">John Doe</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>

        <div class="col-sm-3 col-xs-12 secondary-grouping visual-grouping">
          <img src="/images/placeholder.png" class="visual" width="84px" />
          <div class="content">
            <h3 class="color-primary">John Doe</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>

        <div class="col-sm-3 col-xs-12 secondary-grouping visual-grouping">
          <img src="/images/placeholder.png" class="visual" width="84px" />
          <div class="content">
            <h3 class="color-primary">John Doe</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>

        <div class="col-sm-3 col-xs-12 secondary-grouping visual-grouping">
          <img src="/images/placeholder.png" class="visual" width="84px" />
          <div class="content">
            <h3 class="color-primary">John Doe</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>

        <div class="col-sm-3 col-xs-12 secondary-grouping visual-grouping">
          <img src="/images/placeholder.png" class="visual" width="84px" />
          <div class="content">
            <h3 class="color-primary">John Doe</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>

        <div class="col-sm-3 col-xs-12 secondary-grouping visual-grouping">
          <img src="/images/placeholder.png" class="visual" width="84px" />
          <div class="content">
            <h3 class="color-primary">John Doe</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="get-in-touch" class="row">
    <div class="container">
      <div class="row heading">
        <div class="col-xs-12">
          <h1 class="text-center"><span class="color-primary">Get in</span> <span class="color-secondary">Touch</span></h1>
        </div>
      </div>

      <div class="row">

      </div>
    </div>
  </div>

  <div id="footer" class="row">
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <img src="/images/logo-white.svg" height="48px" />
        </div>
      </div>
    </div>
  </div>
</div>
