<!--
  <div id="get-btcp" class="row">
    <div class="container">
      <div class="row heading">
        <div class="col-xs-12">
          <h1 class="text-center"><span class="color-primary">How to get</span> <span class="color-secondary">$BTCP?</span></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-5 col-xs-12 primary-grouping visual-grouping">
          <i class="fa fa-arrows visual" style="font-size: 140px"></i>
          <div class="content">
            <h3 class="color-primary">$BTCP Wallet</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
            <a href="" class="btn btn-accent">Download</a>
          </div>
        </div>

        <div class="col-sm-push-1 col-sm-6 col-xs-12">
          <div class="row">
            <div class="col-sm-6 col-xs-12 secondary-grouping visual-grouping">
              <i class="fa fa-arrows visual" style="font-size: 67px"></i>
              <div class="content">
                <h3 class="color-primary">Exchange</h3>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
              </div>
            </div>

            <div class="col-sm-6 col-xs-12 secondary-grouping visual-grouping">
              <i class="fa fa-arrows visual" style="font-size: 67px"></i>
              <div class="content">
                <h3 class="color-primary">Exchange</h3>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
              </div>
            </div>

            <div class="col-sm-6 col-xs-12 secondary-grouping visual-grouping">
              <i class="fa fa-arrows visual" style="font-size: 67px"></i>
              <div class="content">
                <h3 class="color-primary">Exchange</h3>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
              </div>
            </div>

            <div class="col-sm-6 col-xs-12 secondary-grouping visual-grouping">
              <i class="fa fa-arrows visual" style="font-size: 67px"></i>
              <div class="content">
                <h3 class="color-primary">Exchange</h3>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="get-involved" class="row">
    <div class="container">
      <div class="row heading">
        <div class="col-xs-12">
          <h1 class="text-center"><span class="color-primary">Get</span> <span class="color-secondary">Involved</span></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="row">
            <div class="col-sm-6 col-xs-12 secondary-grouping visual-grouping">
              <i class="fa fa-code visual" style="font-size: 72px"></i>
              <div class="content">
                <h3 class="color-primary">Development</h3>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
              </div>
            </div>

            <div class="col-sm-6 col-xs-12 secondary-grouping visual-grouping">
              <i class="fa fa-trophy visual" style="font-size: 72px"></i>
              <div class="content">
                <h3 class="color-primary">Marketing</h3>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
              </div>
            </div>

            <div class="col-sm-6 col-xs-12 secondary-grouping visual-grouping">
              <i class="fa fa-users visual" style="font-size: 72px"></i>
              <div class="content">
                <h3 class="color-primary">Community</h3>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
              </div>
            </div>

            <div class="col-sm-6 col-xs-12 secondary-grouping visual-grouping">
              <i class="fa fa-bullhorn visual" style="font-size: 72px"></i>
              <div class="content">
                <h3 class="color-primary">Social Media</h3>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-push-1 col-sm-5 col-xs-12 primary-grouping visual-grouping">
          <i class="fa fa-info-circle visual" style="font-size: 116px"></i>
          <div class="content">
            <h3 class="color-primary">Mining Info</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
            <a href="" class="btn btn-primary">Call To Action</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="our-team" class="row">
    <div class="container">
      <div class="row heading">
        <div class="col-xs-12">
          <h1 class="text-center"><span class="color-primary">Our</span> <span class="color-secondary">Team</span></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 col-xs-12 primary-grouping visual-grouping">
          <img src="https://pbs.twimg.com/profile_images/748004253260713989/QmsWJHBs_400x400.jpg" class="visual" width="116px" />
          <div class="content">
            <h3 class="color-primary">John Doe</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>

        <div class="col-sm-4 col-xs-12 primary-grouping visual-grouping">
          <img src="https://pbs.twimg.com/profile_images/748004253260713989/QmsWJHBs_400x400.jpg" class="visual" width="116px" />
          <div class="content">
            <h3 class="color-primary">John Doe</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>

        <div class="col-sm-4 col-xs-12 primary-grouping visual-grouping">
          <img src="https://pbs.twimg.com/profile_images/748004253260713989/QmsWJHBs_400x400.jpg" class="visual" width="116px" />
          <div class="content">
            <h3 class="color-primary">John Doe</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>

        <div class="col-sm-3 col-xs-12 secondary-grouping visual-grouping">
          <img src="https://pbs.twimg.com/profile_images/748004253260713989/QmsWJHBs_400x400.jpg" class="visual" width="84px" />
          <div class="content">
            <h3 class="color-primary">John Doe</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>

        <div class="col-sm-3 col-xs-12 secondary-grouping visual-grouping">
          <img src="https://pbs.twimg.com/profile_images/748004253260713989/QmsWJHBs_400x400.jpg" class="visual" width="84px" />
          <div class="content">
            <h3 class="color-primary">John Doe</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>

        <div class="col-sm-3 col-xs-12 secondary-grouping visual-grouping">
          <img src="https://pbs.twimg.com/profile_images/748004253260713989/QmsWJHBs_400x400.jpg" class="visual" width="84px" />
          <div class="content">
            <h3 class="color-primary">John Doe</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>

        <div class="col-sm-3 col-xs-12 secondary-grouping visual-grouping">
          <img src="https://pbs.twimg.com/profile_images/748004253260713989/QmsWJHBs_400x400.jpg" class="visual" width="84px" />
          <div class="content">
            <h3 class="color-primary">John Doe</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>

        <div class="col-sm-3 col-xs-12 secondary-grouping visual-grouping">
          <img src="https://pbs.twimg.com/profile_images/748004253260713989/QmsWJHBs_400x400.jpg" class="visual" width="84px" />
          <div class="content">
            <h3 class="color-primary">John Doe</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>

        <div class="col-sm-3 col-xs-12 secondary-grouping visual-grouping">
          <img src="https://pbs.twimg.com/profile_images/748004253260713989/QmsWJHBs_400x400.jpg" class="visual" width="84px" />
          <div class="content">
            <h3 class="color-primary">John Doe</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>

        <div class="col-sm-3 col-xs-12 secondary-grouping visual-grouping">
          <img src="https://pbs.twimg.com/profile_images/748004253260713989/QmsWJHBs_400x400.jpg" class="visual" width="84px" />
          <div class="content">
            <h3 class="color-primary">John Doe</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>

        <div class="col-sm-3 col-xs-12 secondary-grouping visual-grouping">
          <img src="https://pbs.twimg.com/profile_images/748004253260713989/QmsWJHBs_400x400.jpg" class="visual" width="84px" />
          <div class="content">
            <h3 class="color-primary">John Doe</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
-->
